<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoFavor"
        tools:targetApi="31">
        <activity
            android:name=".Ganancias"
            android:exported="false" />
        <activity
            android:name=".Recarga"
            android:exported="false" />
        <activity
            android:name=".Retiro"
            android:exported="false" />
        <activity
            android:name=".Chats"
            android:exported="false" />
        <activity
            android:name=".Favores"
            android:exported="false" />
        <activity
            android:name=".Principal"
            android:exported="false" />
        <activity
            android:name=".ChatEspecifico"
            android:exported="false" />
        <activity
            android:name=".NuevaTarjeta"
            android:exported="false" />
        <activity
            android:name=".NuevaCuenta"
            android:exported="false" />
        <activity
            android:name=".Solicitar_Favores"
            android:exported="false" />
        <activity
            android:name=".Favor_sin_oferta"
            android:exported="false" />
        <activity
            android:name=".Favor"
            android:exported="false" />
        <activity
            android:name=".PerfilAdmin"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>